html{
	height: 100%;
}

body{
	font-family: 'Source code pro', avenir;
	font-size: 1.3em;
	margin: 10px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

img{
	max-height: 200px;
}

input{
	height: 1.2em;
	width: 20%;
}

#consigne{
	margin-top: 5%;
	font-weight: bold;
}

#captcha{
	margin-top: 5%;
	margin-bottom: 5%;
}